<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <p>{{results}}</p>
        <p>
            <span>ユーザID</span>
            <input v-model="search_user_id" type="number"/>
        </p>
        <p>
            <span>パスワード</span>
            <input v-model="search_password" type="text"/>
        </p>
        <button @click="login">ログイン</button>
    </div>
    <!-- vue.jsのCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JSONを扱うためのCDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JSの読み込み -->
    <script src="./script.js"></script>
</body>

</html>