<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>マイページ</title>
  <style></style>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!--cssの読み込み-->
  <link rel="stylesheet" href="M1-1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="aikon"></div>
      <div v-for="item in user">
        <div class="name">{{item.username}}</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="maindiv">
            Account Information
          </div>
          <div class="col-md-12">
            <div class="border-solid">
              <div v-for="item in user">
                <div id="user" class="id">
                  <h4>User ID</h4>
                  {{item.id}}
                </div>
                <div id="user" class="mail">
                  <h4>E-mail</h4>
                  {{item.mail}}
                </div>
                <div id="user" class="phone">
                  <h4>Phone number</h4>
                  {{item.tel}}
                </div>
                <div id="user" class="address">
                  <h4>Address</h4>
                  {{item.address}}
                </div>
              </div>
              <div class="ma"></div>
              <div id="usercas" class="login"><a href="M2-2.html" style="color: black;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                    <path
                      d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                  </svg>
                  ログイン</a>
              </div>
              <div id="usercas" class="like"><a href="M2-3.html" style="color: black;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                  </svg>
                  お気に入り</a>
              </div>
              <div id="usercas" class="set"><a href="M2-4.html" style="color: black;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path
                      d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                  </svg>
                  設定</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav">
        <ul class="ulNav">
          <li class="liNav">
            <a href="./H1-1.html">
              <div class="iconHome"></div>ホーム
            </a>
          </li>
          <li class="liNav">
            <a href="./K1-1.html">
              <div class="iconSearch"></div>検索
            </a>
          </li>
          <li class="liNav">
            <a href="./R1-1.html">
              <div class="iconBook"></div>予約一覧
            </a>
          </li>
          <li class="liNav">
            <a href="./M1-1.html">
              <div class="iconMypage"></div>マイページ
            </a>
          </li>
        </ul>
      </nav>
      <div class="kuhaku"></div>
    </div>
  </div>
  <!-- vue.jsのCDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- JSONを扱うためのCDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- JSの読み込み -->
  <script src="./M1-1vue.js"></script>
</body>

</html>